      </div> <!-- standard-page-body -->
    </div>  <!-- simplex-page-frame div from header.html -->
  </body>
  <footer>
    <link
      rel="stylesheet"
      type=text/css
      href="{{ url_for('static', filename='external/fontawesome/css/fontawesome.min.css') }}">
    <link
      rel="stylesheet"
      type=text/css
      href="{{ url_for('static', filename='external/fontawesome/css/solid.min.css') }}">
    <link
      rel="stylesheet"
      type=text/css
      href="{{ url_for('static', filename='external/roboto/css/roboto.css') }}">

    <!--
      NOTE: To generate new SRI hashes, you can use
          openssl dgst -sha384 -binary FILENAME.js | openssl base64 -A
    -->
    <!-- <script
      src="{{ url_for('static', filename='js/my-js.js') }}"
      charset="utf-8"
      integrity="sha384-YkP4Y4ArFRZR0Fi01n5cc8Mdm+Occbi9d1kx9b680m1KYVoZHbSUMTad6eeAv9/j"
      crossorigin="anonymous">
    </script> -->
  </footer>
</html>
