.simplex-main-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 44px;
  background-color: #282334;
  padding-left: 10px;
  color: #f2f3f1;
  padding-right: 10px;
}

.simplex-main-menu-title a {
  text-decoration: none;
  color: #f2f3f1;
}

.simplex-user-menu {
  display: inline-block;
}

.simplex-user-menu .item {
  padding: 0 5px;
}

.simplex-data-table td {
  padding: 10px;
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;

  font-size: 0.9em;
  text-align: left;
  }

.simplex-data-table th {
  padding: 10px;
  font-weight: bolder;
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;

  font-size: 0.9em;
  text-align: center;

  }

.simplex-h4 {
  display: block;
  font-size: 1em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.simplex-page-header {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.simplex-submit {
  display: inline-block;
  border-radius: 4px;
  background-color: gray;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 0.9e;
  padding: 20px;
  cursor: pointer;
  margin: 5px;
}

.simplex-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #DDD;
}
