html {
  font-family: 'Roboto', Sans-Serif;
}

body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset,
p, blockquote, th, td, button {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  -webkit-text-size-adjust: none;
  overflow-y: scroll;
  direction: ltr;
  text-align: left;
  unicode-bidi: embed;
}

.simplex-page-frame {
  height: 100vh;
}

.simplex-standard-page-body {
  height: calc(100vh - 44px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.simplex-standard-page-content {
  background-color: #f2f5f3;
  width: calc(100vw - 205px);
}
