<!doctype html>

{% include 'common/header.html' %}
{% include 'common/sidebar.html' %}

 <div class="simplex-standard-page-content">

      <p>Manage data</p><br><br>
          <form method="POST" action="#" enctype="multipart/form-data">

              <strong>Upload csv Data:</strong>
              <input type="file" name="data"/><br><br>

              <input type="submit" value="Preview target/features"><br><br>

                {% block content %}

                {{data}}<br><br>

                {{summary}}<br><br>


                {% endblock %}

          </form>

  </div>

{% include 'common/footer.html' %}s
