<!doctype html>

{% include 'common/header.html' %}
{% include 'common/sidebar.html' %}

 <div class="simplex-standard-page-content">

      <h4 class="simplex-page-header">Manage data</h4>
          <form method="POST" action="#" enctype="multipart/form-data">

              <h4 class="simplex-h4">Upload csv Data:</h4>
              <input class="simplex-upload" type="file" name="data"/>

              <input class="simplex-submit" type="submit" value="Upload">

                {% block content %}
                {{preview_header}}

                {{data}}

                {{summary_header}}


                {{summary}}

                {% endblock %}

              <form method="POST" action="#" enctype="multipart/form-data">
              {{target_header}}
              {{target}}
              {{p1_header}}
              {{pred_one}}
              {{p2_header}}
              {{pred_two}}
              </form>


          </form>
          <input class="simplex-submit" type="submit" value="Start Simplex">

  </div>

{% include 'common/footer.html' %}
