<!doctype html>

{% include 'common/header.html' %}
{% include 'common/sidebar.html' %}

 <div class="simplex-standard-page-content">

      <p>Manage models</p>

      <form method="POST" action="uploadFile" enctype="multipart/form-data">

              <strong>Upload csv Data:</strong>
              <input type="file" name="data" /><br><br>

              <strong>Select Target Column:</strong>
              <input type="text" name="target" /><br><br>

              <input type="submit" value="Preview Data"><br><br>

              <input type="submit" value="This is what I want!"><br><br>

      </form>

  </div>

{% include 'common/footer.html' %}
